body {
    margin: 0;
    background-color: #FCFCF9;
}

img {
    width: 100%;
    height: 100%;
}

a {
    font-family: mr-eaves-xl-sans-narrow, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

h2 {
    font-family: mr-eaves-xl-sans-narrow, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 8px;
    line-height: 30px;

}

h3 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.5;
    color: #C6C2C2;
}

h4 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35rem;
    line-height: 0.7;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.2;
    color: #C6C2C2;
}


header {
    top: 1vw;
    left: 1vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.logo {
    background-image: url(billeder/logo.svg);
    height: 77px;
    width: 400px;
}

.dropdownbtn {
    background-color: #FCFCF9;
    color: black;
    font-size: 50px;
    border: none;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FCFCF9;
    border-bottom-color: black;
    border-color: black;
    min-width: 160px;
    right: 0;
    z-index: 2;
}

.dropdown-content a {
    color: black;
    position: relative;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #CCD1C7;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (min-width: 600px) {
    .dropdownbtn {
        display: none;
    }

    .dropdown-content {
        display: flex;
        display: block;
    }

    li {
        float: left;
        padding: 2vw;
    }

    .dropdown-content a:hover {
        background-color: #FCFCF9;
        color: #CCD1C7;

    }
}

#forside .sectionwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FCFCF9;
    width: 100vw;
    height: 100%;
    z-index: 1;
}

#forside .col {
    width: 85vw;
    align-self: center;
}

.text {
    background-color: #CCD1C7;
}

.portraet {
    display: flex;
    position: relative;
    text-align: center;
}

.velkommen {
    position: absolute;
    background-color: white;
    bottom: 40px;
    left: 23%;
}

.portraet h1 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 4px;
    font-size: 3rem;
    text-transform: uppercase;

}

@media only screen and (min-width: 600px) {
    #forside .sectionwrapper {
        flex-direction: row;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #forside .col {
        display: flex;
        flex-direction: column-reverse;
        align-self: flex-start;
        justify-content: space-between;

    }

    .portraet {
        width: 70vw;
    }

    .text {
        position: relative;
        background-color: #CCD1C7;
        bottom: -0.4vw;
        left: -2.8vw;
        width: 90%;
    }

    .velkommen {
        position: absolute;
        background-color: white;
        left: 60%;
        bottom: 50%;

    }
}

#om .sectionwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FCFCF9;
    width: 100vw;
    height: 100%;
    z-index: 1;
}

#om .col {
    width: 85vw;
    align-self: center;
}

@media only screen and (min-width: 600px) {
    #om .sectionwrapper {
        flex-direction: row;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #om .col {
        display: flex;
        flex-direction: column-reverse;
        align-self: flex-start;
        justify-content: space-between;

    }

    #om .portraet {
        width: 70vw;
    }

    #om .text {
        position: relative;
        background-color: #CCD1C7;
        bottom: 15vw;
        left: -2.8vw;
        width: 90%;
        min-height: 25vw;
        z-index: 1;
    }

    .cv {
        position: relative;
        background-color: #CCD1C7;
        left: 5%;
        width: 90%;
    }

    .vandmaerke {
        position: relative;

    }
}

.box {
    position: relative;
    align-self: center;
    background-color: #7C7C7C;
    height: 80vw;
    width: 80vw;
}


#kontakt .sectionwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300vw;
    width: 100%;
}

#backgroundcolor {
    background-color: #CCD1C7;
    position: absolute;
    height: 300vw;
    width: 100%;
    top: 25vw;
}

#kontakt h4 {
    font-size: 7.2rem;
    text-transform: uppercase;

}

@media only screen and (min-width: 600px) {
    #kontakt .box {
        height: 25vw;
        width: 25vw;
    }

    #kontakt .sectionwrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 40vw;
        width: 100%;
    }

    #backgroundcolor {
        background-color: #CCD1C7;
        position: absolute;
        top: 20vw;
        height: 22vw;
        width: 100%;
    }

    #kontakt {
        display: flex;
        flex-direction: column-reverse;
    }

    #kontakt h4 {
        line-height: 0.3;
        font-size: 20rem;
        text-transform: uppercase;

    }
}
