body {
    margin: 0;
    background-color: #FCFCF9;
}

img {
    width: 100%;
}


a {
    font-family: mr-eaves-xl-sans-narrow, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

h2 {
    font-family: mr-eaves-xl-sans-narrow, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 8px;
    line-height: 40px;
    letter-spacing: 0.8px;

}

h3 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.5;
    color: #C6C2C2;
}

h4 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36rem;
    line-height: 0.7;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.2;
    color: #C6C2C2;
}


header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.logo {
    background-image: url(billeder/logo.svg);
    position: relative;
    height: 14vw;
    width: 70vw;
}

.dropbtn {
    background-color: #FCFCF9;
    color: black;
    font-size: 50px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    background-color: #FCFCF9;
    display: none;
    position: relative;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #CCD1C7;
}

.show {
    display: block;
}

@media only screen and (min-width: 600px) {
    .dropbtn {
        display: none;
    }

    .dropdown-content {
        display: flex;
    }

    .dropdown-content a {
        padding: 45px 40px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #FCFCF9;
        color: #CCD1C7;

    }

    .logo {
        height: 80px;
        width: 400px;
    }
}


#forside .sectionwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FCFCF9;
}

#forside .col {
    width: 85vw;
    align-self: center;
}

#forside .text {
    background-color: #CCD1C7;
    align-self: flex-start;

}

#forside .portraet {
    display: flex;
    position: relative;
    text-align: center;
    background-image: url(billeder/portreat.jpg);
    background-size: cover;
    height: 80vh;
}

.velkommen {
    position: absolute;
    background-color: white;
    bottom: 40px;
    left: 23%;
}

h1 {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 4px;
    font-size: 3rem;
    text-transform: uppercase;

}

@media only screen and (min-width: 600px) {
    #forside .sectionwrapper {
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
    }


    #forside .portraet {
        width: 70vw;
        z-index: 1;
    }

    #forside .text {
        position: relative;
        background-color: #CCD1C7;
        width: 60vw;
        padding-left: 1vw;
        top: 40vh;
    }

    .velkommen {
        position: relative;
        background-color: white;
        height: 90px;
        top: 10vh;
        left: 33vw;

    }

    #forside h1 {
        font-size: 5rem;
    }
}

#om .sectionwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FCFCF9;
}

#om .col {
    width: 85vw;
    align-self: center;
}

#om .text {
    background-color: #CCD1C7;
    align-self: flex-start;

}

#om .portraet {
    display: flex;
    position: relative;
    text-align: center;
    background-image: url(billeder/portreat.jpg);
    background-size: cover;
    height: 80vh;
}

.citat {
    margin: 50px;
}


@media only screen and (min-width: 600px) {
    #om .sectionwrapper {
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
    }


    #om .portraet {
        width: 70vw;
        z-index: 1;
    }

    #om .text {
        position: relative;
        background-color: #CCD1C7;
        width: 60vw;
        padding-left: 1vw;

    }

    .cv {
        position: relative;
        background-color: #CCD1C7;
        left: 5%;
        width: 90%;
    }
}

#kontakt .sectionwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #CCD1C7;
    height: 300vw;
}


#kontakt .box {
    background-color: white;
    position: relative;
    align-self: center;
}

.overlay {
    position: relative;
    background-color: black;
    opacity: 0.9;
    height: 80vw;
    width: 80vw;
    text-align: center;
    color: white;
    overflow: hidden;
}


.kontaktinfo {
    position: relative;
    top: 30vw;
    line-height: 0.1;
}

.kontaktinfo h2 {
    font-size: 2rem;
}


#telefon {
    background-image: url(billeder/telefon.svg);
}

#email {
    background-image: url(billeder/mail.svg);
}

#adresse {
    background-image: url(billeder/adresse.svg);
}


@media only screen and (min-width: 600px) {
    #kontakt .box {
        height: 25vw;
        width: 25vw;
    }

    .overlay {
        display: none;
        text-decoration: none;
        height: 25vw;
        width: 25vw;
    }

    #adresse:hover .overlay {
        display: block;
    }

    #email:hover .overlay {
        display: block;
    }

    #telefon:hover .overlay {
        display: block;
    }

    .kontaktinfo {
        position: relative;
        top: 9.5vw;
    }


    #kontakt .sectionwrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #CCD1C7;
        height: 40vw;
        width: 100%;
    }


    #kontakt {
        display: flex;
        flex-direction: column-reverse;
    }

    #kontakt h4 {
        line-height: 0.3;
        font-size: 20rem;
        text-transform: uppercase;

    }
}

#portfolie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#emne1,
#emne2,
#emne3,
#emne4 {
    padding-left: 1.5px;
    padding-right: 1.5px;
    padding-bottom: 50px;
    flex-basis: 350px;
    flex-grow: 1;
}

#portfolie .sectionwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#emne1 .sectionwrapper {
    background-color: #CCD1C7;
}

#emne2 .sectionwrapper {
    background-color: #C7D1D0;
}

#emne3 .sectionwrapper {
    background-color: #CFC7D1;

}

#emne4 .sectionwrapper {
    background-color: #D1C7C7;

}

.sectionwrapper .box {
    display: flex;
    flex-direction: column-reverse;
    background-color: #7C7C7C;
    height: 80vw;
    width: 80vw;

}

.box .overskrift {
    position: relative;
    background-color: white;

}

#portfolie .emnebe {
    position: relative;
    align-self: flex-end;
}


.link {
    padding-top: 10px;
    display: flex;
    position: relative;
}

.link a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.linkbar {
    height: 3vw;
    width: 20vw;
    background-color: black;
    align-self: center;
}

#portfolie h1 {
    font-size: 2rem;
}

@media only screen and (min-width: 600px) {

    #portfolie {
        flex-direction: row;

    }

    #portfolie .box {
        height: 20vw;
        width: 20vw;

    }

    .linkbar {
        width: 5vw;
        height: 1vh;
    }

    #portfolie .overskrift {
        background-color: #FCFCF9;
        width: 20vw;
        left: 0;
        bottom: -8vh;
    }

    #portfolie .emnebe {
        margin-top: 10vh;
        height: 10vw;
        overflow: scroll;
    }
}


#grundlaggendeweb .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #CCD1C7;
}

#grundlaggendeweb h1 {
    background-color: white;
}

#grundlaggendeweb h1 {
    font-size: 2rem;
}

#grundlaggendeweb .col1 {
    margin-top: 5vw;
}

#grundlaggendeweb .col2 {
    width: 80vw;
    margin-top: 5vw;
}

#grundlaggendeweb h2 {
    font-size: 1.2rem;
}

.col2 .top {
    height: 70vw;
    width: 80vw;
    background-image: url(billeder/grundlaggendeweb_pic.jpg);
    background-size: cover;
}

.col2 .bottom {
    height: 10vw;
    width: 80vw;
}

@media only screen and (min-width: 600px) {


    #grundlaggendeweb .sectionwrapper {
        justify-content: space-around;

    }

    #grundlaggendeweb .col1 {
        width: 40vw;
    }

    #grundlaggendeweb .col2 {
        height: 30vw;
        width: 35vw;

    }

    .col2 .top {
        height: 35vw;
        width: 35vw;
    }

    .col2 .bottom {
        height: 5vw;
        width: 35vw;
    }
